* {
  margin: 0;
  padding: 0;
}

/* Hide the scrollbar but allow scrolling */
body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* For WebKit (Chrome, Safari) browsers */
body::-webkit-scrollbar {
  width: 0; /* Adjust the width as needed */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}
