* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.main-nav {
  backdrop-filter: blur(10px);
}
